In [35]:
import pandas as pd
from istatapi import *
from functions import *
import wquantiles

IstatApi (https://github.com/Attol8/istatapi) - data cannot be downloaded from Istat website because too large

In [36]:
discovery.all_available()

,df_id,version,df_description,df_structure_id
0,101_1015,1.3,Crops,DCSP_COLTIVAZIONI
1,101_1030,1.0,"PDO, PGI and TSG quality products",DCSP_DOPIGP
2,101_1033,1.0,slaughtering,DCSP_MACELLAZIONI
3,101_1039,1.2,Agritourism - municipalities,DCSP_AGRITURISMO_COM
4,101_1077,1.0,"PDO, PGI and TSG products: operators - munici...",DCSP_DOPIGP_COM
...,...,...,...,...
504,97_953,1.1,Environmental protection expenditure,DCCN_SPESAPROTAMB
505,98_1066,1.0,Productivity measures - Accounts in the 2014 v...,DCCN_PRODUTTIVITA_B14
506,98_1067,1.0,Productivity measures - Accounts in the 2011 v...,DCCN_PRODUTTIVITA_B11
507,98_197,1.3,Productivity measures,DCCN_PRODUTTIVITA
508,9_951,1.3,Mining and quarrying,DCCV_CAVE_MIN

In [37]:
discovery.search_dataset("irpef")

,df_id,version,df_description,df_structure_id
267,30_1008,1.1,Irpef taxable incomes (Ipef) - municipalities,MEF_REDDITIIRPEF_COM

In [38]:
# initialize the dataset and get its dimensions
ds = discovery.DataSet(dataflow_identifier="30_1008")

In [39]:
ds.dimensions_info()

     dimension      dimension_ID    description
0         FREQ           CL_FREQ      Frequency
1  CL_IMPORTO1    CL_IMPORTOEURO   Amount class
2     ITTER107       CL_ITTER107      Territory
3    TIPO_DATO  CL_TIPO_DATO_MEF  Data type MEF

In [40]:
dimension = "TIPO_DATO" #use "dimension" column from above
ds.get_dimension_values(dimension)

      values_ids                                 values_description
0        AGGINCR                             income by amount class
1        STOINCR   income from stocks (including null values) (eur)
2   SUBEMPTRINCR  income from subordinate employment and income ...
3        CADINCF                      taxpayers of cadastral income
4     ENTROAINCR  income earned by the entrepreneur in ordinary ...
5        CADINCR                             cadastral income (eur)
6     ENTROAINCF  taxpayers of income earned by the entrepreneur...
7     SELFEMINCR  income from self-employment (including null va...
8     ENTRSAINCR  income earned by the entrepreneur in simplifie...
9        AGGINCF                          taxpayers by amount class
10       STOINCF  taxpayers of income from stocks (including nul...
11      PENSINCR                         income from pensions (eur)
12  SUBEMPTRINCF  taxpayers of income from subordinate employmen...
13    SELFEMINCF  taxpayers of income from self-employment (incl...
14         NTAXP                                          taxpayers
15      PENSINCF                  taxpayers of income from pensions
16    ENTRSAINCF  taxpayers of income earned by the entrepreneur...
17     TAXABINCF                        taxpayers of taxable income
18     TAXABINCR                               taxable income (eur)

Import datasets on taxpayers by amount class

In [41]:
tipo_dato = ["AGGINCF"] # taxpayers by amount class

ds.set_filters(tipo_dato = tipo_dato)

In [42]:
df = retrieval.get_data(ds)
df.head()

c:\Users\HP\Desktop\Traineeship\Code\.venv_housing\Lib\site-packages\istatapi\retrieval.py:26: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.StringIO(response.text))

,DATAFLOW,FREQ,CL_IMPORTO1,ITTER107,TIPO_DATO,TIME_PERIOD,OBS_VALUE,BREAK,CONF_STATUS,OBS_PRE_BREAK,OBS_STATUS,BASE_PER,UNIT_MEAS,UNIT_MULT,METADATA_EN,METADATA_IT
0,IT1:30_1008(1.1),A,E_GE120000,1001,AGGINCF,2012-01-01,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207848,IT1:30_1008(1.1),A,E0-10000,12056,AGGINCF,2012-01-01,206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48677,IT1:30_1008(1.1),A,E_GE120000,42001,AGGINCF,2012-01-01,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415769,IT1:30_1008(1.1),A,E15000-26000,22045,AGGINCF,2012-01-01,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511298,IT1:30_1008(1.1),A,E26000-55000,22047,AGGINCF,2012-01-01,327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
new_name = {
    'CL_IMPORTO1' : 'class',
    'ITTER107' : 'mun_istat',
    'TIME_PERIOD' : 'date',
    'OBS_VALUE' : 'taxpayers'
}

df.rename(columns = new_name, inplace = True)

In [44]:
df.head()

,DATAFLOW,FREQ,class,mun_istat,TIPO_DATO,date,taxpayers,BREAK,CONF_STATUS,OBS_PRE_BREAK,OBS_STATUS,BASE_PER,UNIT_MEAS,UNIT_MULT,METADATA_EN,METADATA_IT
0,IT1:30_1008(1.1),A,E_GE120000,1001,AGGINCF,2012-01-01,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207848,IT1:30_1008(1.1),A,E0-10000,12056,AGGINCF,2012-01-01,206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48677,IT1:30_1008(1.1),A,E_GE120000,42001,AGGINCF,2012-01-01,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415769,IT1:30_1008(1.1),A,E15000-26000,22045,AGGINCF,2012-01-01,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511298,IT1:30_1008(1.1),A,E26000-55000,22047,AGGINCF,2012-01-01,327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# keep only the year
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year

# add missing zeroes to istat codes
add_zeroes(df, 'mun_istat', 6)

,DATAFLOW,FREQ,class,mun_istat,TIPO_DATO,date,taxpayers,BREAK,CONF_STATUS,OBS_PRE_BREAK,OBS_STATUS,BASE_PER,UNIT_MEAS,UNIT_MULT,METADATA_EN,METADATA_IT,year
0,IT1:30_1008(1.1),A,E_GE120000,001001,AGGINCF,2012-01-01,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
207848,IT1:30_1008(1.1),A,E0-10000,012056,AGGINCF,2012-01-01,206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
48677,IT1:30_1008(1.1),A,E_GE120000,042001,AGGINCF,2012-01-01,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
415769,IT1:30_1008(1.1),A,E15000-26000,022045,AGGINCF,2012-01-01,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
511298,IT1:30_1008(1.1),A,E26000-55000,022047,AGGINCF,2012-01-01,327.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470386,IT1:30_1008(1.1),A,E15000-26000,096021,AGGINCF,2023-01-01,435.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
470374,IT1:30_1008(1.1),A,E15000-26000,096020,AGGINCF,2023-01-01,4367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
470362,IT1:30_1008(1.1),A,E15000-26000,096019,AGGINCF,2023-01-01,543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
470680,IT1:30_1008(1.1),A,E15000-26000,096049,AGGINCF,2023-01-01,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
764079,IT1:30_1008(1.1),A,E75000-120000,111107,AGGINCF,2023-01-01,NaN,NaN,NaN,NaN,c,NaN,NaN,NaN,NaN,NaN,2023

In [46]:
new_order = [
    'mun_istat', 'year', 'class', 'taxpayers'
]

df = df[new_order]

Import datasets on income by amount class

In [47]:
tipo_dato = ["AGGINCR"] # income by amount class

ds.set_filters(tipo_dato = tipo_dato)

In [48]:
df_in = retrieval.get_data(ds)

df_in.head()

c:\Users\HP\Desktop\Traineeship\Code\.venv_housing\Lib\site-packages\istatapi\retrieval.py:26: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(io.StringIO(response.text))

,DATAFLOW,FREQ,CL_IMPORTO1,ITTER107,TIPO_DATO,TIME_PERIOD,OBS_VALUE,BREAK,CONF_STATUS,OBS_PRE_BREAK,OBS_STATUS,BASE_PER,UNIT_MEAS,UNIT_MULT,METADATA_EN,METADATA_IT
0,IT1:30_1008(1.1),A,E_GE120000,1001,AGGINCR,2012-01-01,3868125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207848,IT1:30_1008(1.1),A,E0-10000,12056,AGGINCR,2012-01-01,738597.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48677,IT1:30_1008(1.1),A,E_GE120000,42001,AGGINCR,2012-01-01,2194171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415769,IT1:30_1008(1.1),A,E15000-26000,22045,AGGINCR,2012-01-01,1153771.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511298,IT1:30_1008(1.1),A,E26000-55000,22047,AGGINCR,2012-01-01,11144050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
new_name = {
    'CL_IMPORTO1' : 'class',
    'ITTER107' : 'mun_istat',
    'TIME_PERIOD' : 'date',
    'OBS_VALUE' : 'income'
}

df_in = df_in.rename(columns = new_name)

In [50]:
# keep only the year
df_in['date'] = pd.to_datetime(df_in['date'])
df_in['year'] = df_in['date'].dt.year

# add missing zeroes to istat codes
add_zeroes(df_in, 'mun_istat', 6)

,DATAFLOW,FREQ,class,mun_istat,TIPO_DATO,date,income,BREAK,CONF_STATUS,OBS_PRE_BREAK,OBS_STATUS,BASE_PER,UNIT_MEAS,UNIT_MULT,METADATA_EN,METADATA_IT,year
0,IT1:30_1008(1.1),A,E_GE120000,001001,AGGINCR,2012-01-01,3868125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
207848,IT1:30_1008(1.1),A,E0-10000,012056,AGGINCR,2012-01-01,738597.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
48677,IT1:30_1008(1.1),A,E_GE120000,042001,AGGINCR,2012-01-01,2194171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
415769,IT1:30_1008(1.1),A,E15000-26000,022045,AGGINCR,2012-01-01,1153771.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
511298,IT1:30_1008(1.1),A,E26000-55000,022047,AGGINCR,2012-01-01,11144050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470386,IT1:30_1008(1.1),A,E15000-26000,096021,AGGINCR,2023-01-01,9073138.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
470374,IT1:30_1008(1.1),A,E15000-26000,096020,AGGINCR,2023-01-01,91117748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
470362,IT1:30_1008(1.1),A,E15000-26000,096019,AGGINCR,2023-01-01,11318624.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
470680,IT1:30_1008(1.1),A,E15000-26000,096049,AGGINCR,2023-01-01,15157028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
764079,IT1:30_1008(1.1),A,E75000-120000,111107,AGGINCR,2023-01-01,NaN,NaN,NaN,NaN,c,NaN,NaN,NaN,NaN,NaN,2023

In [51]:
new_order = [
    'mun_istat', 'year', 'class', 'income'
]

df_in = df_in[new_order]

Merge the datasets and create a new variable for income

In [52]:
df_merged = pd.merge(df, df_in, on = ['mun_istat', 'year', 'class'], how = 'left')

In [53]:
# drop rows with 0 and NaN values in taxpayers
df_nona = df_merged[df_merged['taxpayers'].notna() & (df_merged['taxpayers'] != 0)]

# create a variable class_mun_gdp as the class income (sum of incomes in a class / taxpayers in that class)
df_nona['class_mun_gdp'] = df_nona['income'] / df_nona['taxpayers']

C:\Users\HP\AppData\Local\Temp\ipykernel_9860\1670570480.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nona['class_mun_gdp'] = df_nona['income'] / df_nona['taxpayers']

In [54]:
# check unique values in class
df_nona['class'].unique()

array(['E_GE120000', 'E0-10000', 'E15000-26000', 'E26000-55000',
       'E55000-75000', 'E75000-120000', 'E_UN0', 'E10000-15000'],
      dtype=object)

In [55]:
# delete E_UN0 (values less or equal to one)
df_nona = df_nona[df_nona['class'] != ('E_UN0')]

# rename values in class
df_nona['class_mid'] = df_nona['class'].replace({
    'E0-10000': 5000,
    'E10000-15000': 12500,
    'E15000-26000': 20500,
    'E26000-55000': 40500,
    'E55000-75000': 65000,
    'E75000-120000': 97500,
    'E_GE120000': 150000
}).astype(float)

# compute the difference between class_mun_gdp and class
df_nona['diff'] = df_nona['class_mun_gdp'] - df_nona['class_mid']

# check variability in diff
cols = ['diff']

variability(df_nona, cols)

C:\Users\HP\AppData\Local\Temp\ipykernel_9860\2747168387.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_nona['class_mid'] = df_nona['class'].replace({

  column          avg      median      range          std  coeff_var
0   diff  2609.527854 -458.763593  9100353.0  34565.53421  13.245896

In [56]:
# compute the median weighted income for each municipality
def weighted_median(values, weights):
    return wquantiles.median(values, weights)

df_median = df_nona.groupby(['year','mun_istat']).apply(
    lambda g: weighted_median(g['class_mun_gdp'], g['taxpayers'])
).reset_index(name='median_income')

C:\Users\HP\AppData\Local\Temp\ipykernel_9860\2168189777.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_median = df_nona.groupby(['year','mun_istat']).apply(

In [57]:
df_median.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95509 entries, 0 to 95508
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           95509 non-null  int32
 1   mun_istat      95509 non-null  object
 2   median_income  95509 non-null  float64
dtypes: float64(1), int32(1), object(1)
memory usage: 1.8+ MB

The dataset lack data for 2024 (possibly due to the 2-years lagged period for tax return). 

Based on Istat perspective for household private consumption (https://www.istat.it/en/press-release/italys-economic-outlook-2024-2025-2/), in 2024 the growth rate was 0.6%. Household income is usually based on wages, self-employment income, pensions, and household disposable income, elements considered in the IRPEF (personal income tax), on which our income data are based. (due to the nature of our analysis, we can assume that housing prices are affected by past income values. Therefore, we can keep the lagged values of median income. NO)

Select year >= 2013

In [59]:
df_median = df_median[df_median['year'] >= 2013]

Save the dataset

In [61]:
df_median.to_parquet('datasets/mun_lag_income.parquet', index = False)