In [1]:
import pandas as pd
from functions import add_zeroes, normalize_name
import seaborn as sns
import matplotlib.pyplot as plt

Load the dataset (http://dati-censimentipermanenti.istat.it/Index.aspx)

In [2]:
# Read the dataset
df = pd.read_csv('C:/Users/HP/Desktop/Traineeship/data/mun_dwellings.csv', index_col = False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23712 entries, 0 to 23711
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   mun_istat   23712 non-null  int64
 1   mun_name    23709 non-null  object
 2   occupation  23712 non-null  object
 3   dwellings   23712 non-null  int64
dtypes: int64(2), object(2)
memory usage: 741.1+ KB

Add missing zeroes to mun_istat

In [4]:
df['mun_istat'] = df['mun_istat'].astype(float).astype(int)

add_zeroes(df, ['mun_istat'], length = 6)

,mun_istat,mun_name,occupation,dwellings
0,001272,Torino,conventional dwellings on 31st December,502615
1,001272,Torino,occupied conventional dwellings on 31st December,423812
2,001272,Torino,unoccupied conventional dwellings on 31st Dece...,78803
3,002158,Vercelli,conventional dwellings on 31st December,26430
4,002158,Vercelli,occupied conventional dwellings on 31st December,21115
...,...,...,...,...
23707,099031,Sassofeltrio,occupied conventional dwellings on 31st December,590
23708,099031,Sassofeltrio,unoccupied conventional dwellings on 31st Dece...,442
23709,081025,Misiliscemi,conventional dwellings on 31st December,5614
23710,081025,Misiliscemi,occupied conventional dwellings on 31st December,3558
23711,081025,Misiliscemi,unoccupied conventional dwellings on 31st Dece...,2056

Translate

In [5]:
df['occupation'] = df['occupation'].replace({
    'conventional dwellings on 31st December' : 'tot',
})

# keep only total dwellings
df = df.loc[df['occupation'] == 'tot']

Save the dataset

In [6]:
df.to_parquet('datasets/mun_dwelling.parquet', index = False)